################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S10257176_PRG2Assignment/.vs/S10257176_PRG2Assignment/FileContentIndex/38cc5bc8-03e5-46c6-aa96-ff6412cd217d.vsidx
