################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S10257176_PRG2Assignment/.vs/*
